In [1]:
import sys
import os
sys.path.append('../') # root directory

In [2]:
from constants import constant
import pandas as pd
import numpy as np
import constants.constant as constant
import utils.commonutils as utils
import utils.scraperutils as scraperutils
from constants.namedtuples import Column
from write.JsonFileWriter import write
from read.JsonFileReader import parse
from pathlib import Path
from tqdm import tqdm
from itertools import chain

In [3]:
os.listdir('data')

['MorningStarStat.json', '.ipynb_checkpoints']

In [4]:
stocks = parse('data/MorningStarStat.json')
KEY_STATS = 'keyStats'
FIN_STATS = 'financeStats'
TICKER = 'symbol'
PERIOD_ALL = 100
NULL = 'â€”'
len(stocks)

530

In [5]:
KEY_STAT_NAME = 'name'
KEY_STAT_VALUES = 'values'
KEY_STAT_PERIOD = 'period'
KEY_STAT_VALUE = 'value'

In [6]:
stat_name = 'Operating Margin'
stock_ticker = 'TAP'

In [7]:
tickers = pd.Series([s[TICKER] for s in stocks])
tickers.shape

(530,)

## Retrieve Stock, Stat & Values from Raw Data

In [8]:
def get_stock(stocks, ticker):
    '''
    return stock based on ticker
    '''
    for stock in stocks:
        if stock[TICKER] == ticker:
            return stock

In [9]:
def get_stat(stats, name):
    '''
    return stat based on name & stats passed
    '''
    for stat in stats:
        if stat[KEY_STAT_NAME] == name:
            return stat

In [10]:
def get_value(stat, period=-1):
    '''
    return stat values for the passed stat, using period as the index. -1 returns TTM. 100 returns all. 
    '''
    if period == PERIOD_ALL:
        return stat[KEY_STAT_VALUES]
    else:
        return stat[KEY_STAT_VALUES][period]

In [11]:
def get_stat_value(stock, stat_type, stat_name, period=-1):
    stat = get_stat(stock[stat_type], stat_name)
    value = get_value(stat, period=period)
    return value

In [ ]:
stock = get_stock(stocks, stock_ticker)
stat = get_stat(stock[KEY_STATS], stat_name)
values = get_value(stat, period=PERIOD_ALL)
values

In [ ]:
get_stat_value(stat)

In [ ]:
pd.Series([v[KEY_STAT_VALUE] for v in values], dtype='float64')

## Screener

In [12]:
stat_names = [s[KEY_STAT_NAME] for s in chain(stocks[0][KEY_STATS], stocks[0][FIN_STATS])]
tickers = [s[TICKER] for s in stocks]
len(tickers), len(stat_names)

(530, 85)

In [13]:
# Efficiency
ROIC = 'Return on Invested Capital %'
OPERATING_MARGIN = 'Operating Margin'
GROSS_MARGIN = 'Gross Margin'
NET_MARGIN = 'Net Margin %'

# Growth
OPERATING_CF_GROWTH = 'Operating Cash Flow Growth % YOY'
REVENUE_GROWTH_3 = 'Revenue % 3-Year Average'
REVENUE_GROWTH_5 = 'Revenue % 5-Year Average'
OPERATING_INCOME_GROWTH_3 = 'Operating Income % 3-Year Average'
OPERATING_INCOME_GROWTH_5 = 'Operating Income % 5-Year Average'

# Financial Risks
DEBT_EQUITY = 'Debt/Equity'

## High Growth & Efficiency

In [41]:
screen = pd.DataFrame()
screen['ticker'] = tickers

screen['roic'] = pd.Series(
    [get_stat_value(s, KEY_STATS, ROIC)['value'] for s in stocks]
).replace({NULL: float('nan')}).astype('float64')

screen['op_inc_3_yr_growth'] = pd.Series(
    [get_stat_value(s, KEY_STATS, OPERATING_INCOME_GROWTH_3, period=-2)['value'] for s in stocks]
).replace({NULL: float('nan')}).astype('float64')

screen['op_margin'] = pd.Series(
    [get_stat_value(s, KEY_STATS, OPERATING_MARGIN)['value'] for s in stocks]
).replace({NULL: float('nan')}).astype('float64')

In [34]:
high_roic = screen['roic'] > 25 # 18% is 75th percentile
high_op_inc_growth = screen['op_inc_3_yr_growth'] > 20 # 14.84$ is 75th percentile
roic_gt_25.sum(), high_op_inc_growth.sum()

(61, 76)

In [42]:
screen[roic_gt_25 & high_op_inc_growth]

    ticker   roic  op_inc_3_yr_growth  op_margin
11     WST  27.11               21.96      25.86
63    REGN  45.25               52.26      55.67
64    GOOG  28.36               35.86      30.55
95    ASML  35.60               30.14      35.12
103    AMD  42.92              100.74      22.20
122     FB  28.08               23.35      39.65
146    BIO  35.28               37.28      16.75
160   INCY  29.35               56.91      20.11
215   MKTX  26.14               22.92      50.53
228   QCOM  41.44              136.29      30.88
239   HOLX  26.17               69.71      40.57
260   MSFT  33.69               25.87      42.52
270  GOOGL  28.36               35.86      30.55
316   ADBE  26.19               26.88      36.76
371   FTNT  28.59               64.65      19.20
429   CPRT  26.80               24.74      41.86
447    DVN  27.25               26.54      26.59
478   IDXX  45.83               23.79      28.99
489  GOOGL  28.36               35.86      30.55

In [33]:
screen['roic'].describe()

count    449.000000
mean      12.742183
std       13.751915
min      -80.700000
25%        5.920000
50%       10.730000
75%       18.030000
max      103.250000
Name: roic, dtype: float64

In [53]:
arkk = pd.read_csv('../output/20220220_Tickers/ARK_INNOVATION_ETF_ARKK_HOLDINGS.csv')
arkk = arkk.rename({'ticker': 'Symbol'}, axis=1)
arkk.loc[arkk['Symbol'].notna(), 'Symbol'].to_excel('../input/StockList.xlsx', index=False)

In [64]:
arkk

,date,fund,company,Symbol,cusip,shares,market value ($),weight (%)
0,02/22/2022,ARKK,TESLA INC,TSLA,88160R101,"1,168,067","$1,001,010,057.66",9.01%
1,02/22/2022,ARKK,TELADOC HEALTH INC,TDOC,87918A105,"11,023,811","$716,547,715.00",6.45%
2,02/22/2022,ARKK,ZOOM VIDEO COMMUNICATIONS-A,ZM,98980L101,"5,524,693","$701,415,023.28",6.31%
3,02/22/2022,ARKK,COINBASE GLOBAL INC -CLASS A,COIN,19260Q107,"3,438,115","$650,353,833.40",5.85%
4,02/22/2022,ARKK,ROKU INC,ROKU,77543R102,"5,603,429","$630,161,625.34",5.67%
5,02/22/2022,ARKK,EXACT SCIENCES CORP,EXAS,30063P105,"7,981,035","$591,634,124.55",5.32%
6,02/22/2022,ARKK,UNITY SOFTWARE INC,U,91332U101,"5,542,691","$549,225,251.19",4.94%
7,02/22/2022,ARKK,UIPATH INC - CLASS A,PATH,90364P105,"14,303,928","$542,834,067.60",4.88%
8,02/22/2022,ARKK,INTELLIA THERAPEUTICS INC,NTLA,45826J105,"5,678,892","$491,337,735.84",4.42%
9,02/22/2022,ARKK,BLOCK INC,SQ,852234103,"4,795,228","$468,589,680.16",4.22%
10,02/22/2022,ARKK,SPOTIFY TECHNOLOGY SA,SPOT,L8681T102,"3,014,445","$459,009,540.15",4.13%
11,02/22/2022,ARKK,TWILIO INC - A,TWLO,90138F102,"2,846,647","$450,709,619.51",4.05%
12,02/22/2022,ARKK,BEAM THERAPEUTICS INC,BEAM,07373V105,"6,026,795","$403,915,800.90",3.63%
13,02/22/2022,ARKK,CRISPR THERAPEUTICS AG,CRSP,H17182108,"6,095,582","$355,311,474.78",3.20%
14,02/22/2022,ARKK,SHOPIFY INC - CLASS A,SHOP,82509L107,"428,579","$281,524,973.52",2.53%
15,02/22/2022,ARKK,DRAFTKINGS INC - CL A,DKNG,26142R104,"13,894,473","$240,235,438.17",2.16%
16,02/22/2022,ARKK,PAGERDUTY INC,PD,69553P100,"7,259,003","$230,473,345.25",2.07%
17,02/22/2022,ARKK,ROBINHOOD MARKETS INC - A,HOOD,770700102,"17,366,524","$205,098,648.44",1.85%
18,02/22/2022,ARKK,FATE THERAPEUTICS INC,FATE,31189P102,"5,913,842","$195,984,723.88",1.76%
19,02/22/2022,ARKK,10X GENOMICS INC-CLASS A,TXG,88025U109,"2,128,588","$173,607,637.28",1.56%
20,02/22/2022,ARKK,INVITAE CORP,NVTA,46185L103,"17,320,190","$161,770,574.60",1.46%
21,02/22/2022,ARKK,GINKGO BIOWORKS HOLDINGS INC,DNA,37611X100,"33,736,847","$156,876,338.55",1.41%
22,02/22/2022,ARKK,SIGNIFY HEALTH INC -CLASS A,SGFY,82671G100,"11,060,376","$140,356,171.44",1.26%
23,02/22/2022,ARKK,PACIFIC BIOSCIENCES OF CALIF,PACB,69404D108,"11,863,154","$136,070,376.38",1.22%
24,02/22/2022,ARKK,ROBLOX CORP -CLASS A,RBLX,771049103,"2,580,660","$128,310,415.20",1.15%
25,02/22/2022,ARKK,TUSIMPLE HOLDINGS INC - A,TSP,90089L108,"7,935,664","$121,733,085.76",1.10%
26,02/22/2022,ARKK,SEA LTD-ADR,SE,81141R100,"932,500","$119,070,925.00",1.07%
27,02/22/2022,ARKK,VERACYTE INC,VCYT,92337F107,"4,696,162","$118,953,783.46",1.07%
28,02/22/2022,ARKK,STRATASYS LTD,SSYS,M85548101,"4,591,664","$118,694,514.40",1.07%
29,02/22/2022,ARKK,TWIST BIOSCIENCE CORP,TWST,90184D100,"2,178,861","$115,937,193.81",1.04%
30,02/22/2022,ARKK,PALANTIR TECHNOLOGIES INC-A,PLTR,69608A108,"9,596,926","$105,758,124.52",0.95%
31,02/22/2022,ARKK,TRIMBLE INC,TRMB,896239100,"1,474,609","$100,789,525.15",0.91%
32,02/22/2022,ARKK,MATERIALISE NV-ADR,MTLS,57667T100,"3,751,513","$74,430,017.92",0.67%
33,02/22/2022,ARKK,2U INC,TWOU,90214J101,"5,745,188","$55,383,612.32",0.50%
34,02/22/2022,ARKK,CERUS CORP,CERS,157085101,"9,861,026","$52,559,268.58",0.47%
35,02/22/2022,ARKK,BERKELEY LIGHTS INC,BLI,084310101,"4,615,982","$31,665,636.52",0.28%
36,02/22/2022,ARKK,DREYFUS GOVT CASH MAN INS,NaN,X9USDDGCM,"21,604,482","$21,604,482.22",0.19%
37,02/22/2022,ARKK,COMPUGEN LTD,CGEN,M25722105,"5,651,408","$16,276,055.04",0.15%
38,The principal risks of investing in ARK ETFs i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN